<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
         http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID"
         version="3.0">
    <display-name>Archetype Created Web Application</display-name>

    <!--把Spring的IOC容器纳入Servlet容器-->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <!--将Session创建销毁监听器，放置到web.xml中-->
    <listener>
        <listener-class>spring.session.SessionListener</listener-class>
    </listener>
    <listener>
        <listener-class>spring.session.AnotherSessionListener</listener-class>
    </listener>

    <!--spring框架配置-->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:spring-context.xml</param-value>
    </context-param>

    <!--spring框架集成-->
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value/>
        </init-param>
        <load-on-startup>1</load-on-startup> <!--第一时间加载-->
    </servlet>
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <!--表单重复提交demo begin-->
    <servlet>
        <servlet-name>FormServlet</servlet-name>
        <servlet-class>spring.form.resubmit.FormServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FormServlet</servlet-name>
        <url-pattern>/FormServlet/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DoFormServlet</servlet-name>
        <servlet-class>spring.form.resubmit.DoFormServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DoFormServlet</servlet-name>
        <url-pattern>/DoFormServlet/*</url-pattern>
    </servlet-mapping>
    <!--表单重复提交demo end-->

    <!--Servlet中session学习demo begin-->
    <servlet>
        <servlet-name>SessionServlet</servlet-name>
        <servlet-class>spring.session.SessionDemo1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SessionServlet</servlet-name>
        <url-pattern>/SessionDemo1/*</url-pattern>
    </servlet-mapping>
    <!--Servlet中session学习demo end-->

    <!--Servlet中Cookie学习demo begin-->
    <servlet>
        <servlet-name>CookieServlet</servlet-name>
        <servlet-class>spring.cookie.CookieDemo1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CookieServlet</servlet-name>
        <url-pattern>/CookieDemo1/*</url-pattern>
    </servlet-mapping>
    <!--Servlet中Cookie学习demo end-->

    <!--对请求参数使用UTF-8强制编码，否则请求中文会出现乱码-->
    <filter>
        <filter-name>encodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- 设置Session的有效时间:以分钟为单位-->
    <session-config>
        <session-timeout>1</session-timeout>
    </session-config>

</web-app>